<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628925218290-j0d874nhv0si01k3ojrnve1c345pbaq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628925218290-j0d874nhv0si01k3ojrnve1c345pbaq1</string>
	<key>API_KEY</key>
	<string>AIzaSyASJ1gEPQEjPteRwvnNYvDkS-b9fiwWmPE</string>
	<key>GCM_SENDER_ID</key>
	<string>628925218290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.umbrellacorp.chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-5a645</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-5a645.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628925218290:ios:7ac6ae1279ae8fc1d9bf6b</string>
	<key>DATABASE_URL</key>
	<string>https://chatty-5a645.firebaseio.com</string>
</dict>
</plist>