<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509743929303-k4b3q6chdeq93q49kadgfrjpqt25vvii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509743929303-k4b3q6chdeq93q49kadgfrjpqt25vvii</string>
	<key>API_KEY</key>
	<string>AIzaSyC7CMhIFKSqmB8UaYvwx0lIeujug1bljog</string>
	<key>GCM_SENDER_ID</key>
	<string>509743929303</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.firebase.chatty</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-4dcdd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-4dcdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509743929303:ios:0d57ff3c21043107501d92</string>
	<key>DATABASE_URL</key>
	<string>https://fir-chat-4dcdd.firebaseio.com</string>
</dict>
</plist>